#page {
  --brand-hue:            #{$brand-hue};
  --body-back:            hsl(var(--brand-hue), 20%, 85%);
  --body-text:            hsl(var(--brand-hue), 90%, 10%);
  --panel-border:         hsl(var(--brand-hue), 25%, 85%);
  --side-text:            hsl(var(--brand-hue), 50%, 10%);
  --side-back:            hsl(var(--brand-hue), 20%, 90%);
  --menu-text:            hsl(var(--brand-hue), 40%, 50%);
  --menu-back:            hsl(var(--brand-hue), 20%, 95%);
  --menu-hover-text:      hsl(var(--brand-hue), 50%, 45%);
  --menu-hover-back:      hsl(var(--brand-hue), 20%, 98%);
  --menu-active-text:     hsl(var(--brand-hue), 50%, 40%);
  --menu-active-back:     hsl(var(--brand-hue), 20%, 99%);
  --main-text:            hsl(var(--brand-hue), 90%, 10%);
  --main-back:            hsl(var(--brand-hue), 20%, 97%);
  --footer-text:          hsl(var(--brand-hue), 40%, 35%);
  --footer-hover-text:    hsl(var(--brand-hue), 60%, 25%);
  --link-text:            hsl(var(--brand-hue), 60%, 50%);
  --link-hover-text:      hsl(var(--brand-hue), 60%, 40%);
  --demo-border:          hsl(var(--brand-hue), 25%, 80%);
  --demo-back:            hsl(var(--brand-hue), 25%, 99%);
  --button-back:          hsl(var(--brand-hue), 50%, 50%);
  --button-hover-back:    hsl(var(--brand-hue), 50%, 45%);
  --logo-back:            hsl(var(--brand-hue),  5%, 97%);
  --code-text:            hsl(var(--brand-hue), 90%, 30%);
  --code-back:            hsl(var(--brand-hue), 30%, 95%);
  --code-hover:           hsl(var(--brand-hue), 30%, 90%);
  --code-border:          hsl(var(--brand-hue), 40%, 90%);
  --output-text:          hsl(var(--brand-hue), 10%, 90%);
  --output-back:          hsl(var(--brand-hue), 25%, 25%);
  --output-border:        hsl(var(--brand-hue), 25%, 25%);
  --shadow-1:             2px 2px 4px rgba(0, 0, 0, 0.08);
  --shadow-2:             4px 4px 8px rgba(0, 0, 0, 0.06);
  --codeblock-radius:     0.25em;
  --codeblock-shadow:     var(--shadow-1), var(--shadow-2);
  --codeblock-back-from:  #{$codeblock-light-from};
  --codeblock-back-to:    #{$codeblock-light-to};
}
#page {
  color-scheme: light dark;
}
#page.light {
  color-scheme: light;
}
#page.red {
  --brand-hue:            #{$red-hue};
}
#page.orange {
  --brand-hue:            #{$orange-hue};
}
#page.yellow {
  --brand-hue:            #{$yellow-hue};
}
#page.green {
  --brand-hue:            #{$green-hue};
}
#page.blue {
  --brand-hue:            #{$blue-hue};
}
#page.indigo {
  --brand-hue:            #{$indigo-hue};
}
#page.violet {
  --brand-hue:            #{$violet-hue};
}
#page.dark {
  color-scheme: dark;
  --body-back:            hsl(var(--brand-hue), 20%, 10%);
  --body-text:            hsl(var(--brand-hue), 90%, 10%);
  --panel-border:         hsl(var(--brand-hue), 25%, 20%);
  --side-text:            hsl(var(--brand-hue), 20%, 85%);
  --side-back:            hsl(var(--brand-hue), 20%, 15%);
  --menu-text:            hsl(var(--brand-hue), 20%, 60%);
  --menu-back:            hsl(var(--brand-hue), 20%, 25%);
  --menu-hover-text:      hsl(var(--brand-hue), 30%, 70%);
  --menu-hover-back:      hsl(var(--brand-hue), 20%, 30%);
  --menu-active-text:     hsl(var(--brand-hue), 50%, 80%);
  --menu-active-back:     hsl(var(--brand-hue), 20%, 35%);
  --main-text:            hsl(var(--brand-hue), 50%, 90%);
  --main-back:            hsl(var(--brand-hue), 20%, 20%);
  --footer-text:          hsl(var(--brand-hue), 45%, 70%);
  --footer-hover-text:    hsl(var(--brand-hue), 60%, 80%);
  --link-text:            hsl(var(--brand-hue), 60%, 60%);
  --link-hover-text:      hsl(var(--brand-hue), 60%, 70%);
  --demo-border:          hsl(var(--brand-hue), 25%, 15%);
  --demo-back:            hsl(var(--brand-hue), 20%, 30%);
  --button-back:          hsl(var(--brand-hue), 50%, 50%);
  --button-hover-back:    hsl(var(--brand-hue), 50%, 45%);
  --logo-back:            hsl(var(--brand-hue), 30%, 80%);
  --output-text:          hsl(var(--brand-hue), 10%, 90%);
  --output-back:          hsl(var(--brand-hue), 15%, 30%);
  --code-text:            hsl(var(--brand-hue), 40%, 80%);
  --code-back:            hsl(var(--brand-hue), 30%, 25%);
  --code-hover:           hsl(var(--brand-hue), 30%, 30%);
  --code-border:          hsl(var(--brand-hue), 30%, 35%);
  --shadow-1:             2px 2px 4px rgba(0, 0, 0, 0.16);
  --shadow-2:             4px 4px 8px rgba(0, 0, 0, 0.12);
  --codeblock-back-from:  #{$codeblock-dark-from};
  --codeblock-back-to:    #{$codeblock-dark-to};
}
