@import "config/all.scss";
@import "components/all.scss";
@import "/styles/night-and-day.css";

html {
  font-family: $font-sans;
}
body {
  // background-color: mix($brand-color, $white, 15%)
  // color: var(--body-text);
  // background-color: var(--body-back);
}
#page {
  color: var(--body-text);
  background-color: var(--body-back);
}
#layout {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  aside {
    flex-basis: 20rem;
    flex-grow: 1;
    padding: 1rem;
    border: 1px solid var(--panel-border);
    color: var(--side-text);
    background-color: var(--side-back);
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 2rem);
    overflow-y: scroll;
    footer {
      margin-top: auto;
      font-size: 0.8rem;
      color: var(--footer-text);
      .notes {
        font-size: 0.8rem;
        color: var(--footer-text);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
      a {
        font-size: 0;
        width: 6rem;
        color: var(--footer-text);
        &:hover {
          color: var(--footer-hover-text);
        }
        svg {
          height: 2rem;
        }
      }

    }
    h4 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    ul.menu {
      padding: 0;
      margin: 0 0 2rem 0;
      list-style: none;
      li {
        margin: 0;
        padding: 0;
        a {
          display: block;
          color: var(--menu-text);
          background-color: var(--menu-back);
          padding: 0.25rem 0.5rem;
          margin-bottom: 0.25rem;
          &:hover {
            color: var(--menu-hover-text);
            background-color: var(--menu-hover-back);
          }
          &.active {
            color: var(--menu-active-text);
            background-color: var(--menu-active-back);
          }
        }
      }
    }
  }
  main {
    position: relative;
    flex-basis: 0;
    flex-grow: 999;
    padding: 2rem;
    // padding-bottom: 200px;
    color: var(--main-text);
    background-color: var(--main-back);
    border: 1px solid var(--panel-border);
    max-height: calc(100vh - 2rem);
    overflow-y: scroll;
    h1:first-child {
      line-height: 1;
      margin: 0 0 0.5em 0;
    }
  }
}
.pic-side {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 3rem;
  margin-bottom: 2rem;
  div.logo {
    color: var(--logo-back);
    margin-top: 1rem;
  }
  & > div.blurb {
    padding-right: 2rem;
  }
}
.badger {
  margin-top: 2rem;
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  svg {
    color: var(--logo-back);
    width: 80px;
  }
  .caption {
    padding: 0.5rem 0 0 0;
    color: var(--footer-text);
    font-size: 0.8rem;
  }
}
img.logo {
  width: 200px;
}
a.read-on {
  display: block;
  text-align: right;
  font-size: 1.5rem;
  margin-top: 2rem;
}
a.github {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}

button {
  background-color: var(--button-back);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  & + button {
    margin-left: 0.5rem;
  }
  &:hover {
    background-color: var(--button-hover-back);
  }
  &.brown {
    background-color: hsl($brown-hue, 50%, 50%);
    &:hover {
      background-color: hsl($brown-hue, 50%, 45%);
    }
  }
  &.red {
    background-color: hsl($red-hue, 50%, 50%);
    &:hover {
      background-color: hsl($red-hue, 50%, 45%);
    }
  }
  &.green {
    background-color: hsl($green-hue, 50%, 50%);
  }
  &.blue {
    background-color: hsl($blue-hue, 50%, 50%);
    &:hover {
      background-color: hsl($blue-hue, 50%, 45%);
    }
  }
  &.indigo {
    background-color: hsl($indigo-hue, 50%, 50%);
    &:hover {
      background-color: hsl($indigo-hue, 50%, 45%);
    }
  }
  &.violet {
    background-color: hsl($violet-hue, 50%, 50%);
    &:hover {
      background-color: hsl($violet-hue, 50%, 45%);
    }
  }
}
.demo {
  background-color: var(--demo-back);
  border: 1px solid var(--demo-border);
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  box-shadow: var(--shadow-1), var(--shadow-2);
  margin: 1rem 0 2rem 0;
  p {
    font-size: 1.2rem;
  }
  p:first-child {
    margin-top: 0;
  }
}
div.buttons {
  margin-bottom: 0.5rem;
}