@import "config/all.scss";
@import "components/all.scss";
@import "/styles/night-and-day.css";

html {
  font-family: $font-sans;
}

#page {
  color: var(--body-text);
  background-color: var(--body-back);
}
.badger {
  margin-top: 2rem;
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  svg {
    color: var(--logo-back);
    width: 80px;
  }
  .caption {
    padding: 0.5rem 0 0 0;
    color: var(--footer-text);
    font-size: 0.8rem;
  }
}
img.logo {
  width: 200px;
}
a.read-on {
  display: block;
  text-align: right;
  font-size: 1.5rem;
  margin-top: 2rem;
}
a.github {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
}

button {
  background-color: var(--button-back);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  & + button {
    margin-left: 0.5rem;
  }
  &:hover {
    background-color: var(--button-hover-back);
  }
  &.brown {
    background-color: hsl($brown-hue, 50%, 50%);
    &:hover {
      background-color: hsl($brown-hue, 50%, 45%);
    }
  }
  &.red {
    background-color: hsl($red-hue, 50%, 50%);
    &:hover {
      background-color: hsl($red-hue, 50%, 45%);
    }
  }
  &.green {
    background-color: hsl($green-hue, 50%, 50%);
  }
  &.blue {
    background-color: hsl($blue-hue, 50%, 50%);
    &:hover {
      background-color: hsl($blue-hue, 50%, 45%);
    }
  }
  &.indigo {
    background-color: hsl($indigo-hue, 50%, 50%);
    &:hover {
      background-color: hsl($indigo-hue, 50%, 45%);
    }
  }
  &.violet {
    background-color: hsl($violet-hue, 50%, 50%);
    &:hover {
      background-color: hsl($violet-hue, 50%, 45%);
    }
  }
}
.demo {
  background-color: var(--demo-back);
  border: 1px solid var(--demo-border);
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  box-shadow: var(--shadow-1), var(--shadow-2);
  margin: 1rem 0 2rem 0;
  p {
    font-size: 1.2rem;
  }
  p:first-child {
    margin-top: 0;
  }
}
div.buttons {
  margin-bottom: 0.5rem;
}