$header-height:       2.5rem;
$layout-gap:          1rem;
$main-height:         calc(100vh - $header-height - (2 * $layout-gap));
$container-min:       480px;
$container-max:       1280px;
$mobile-menu-height:  10rem;
$mobile-main-height:  calc(100vh - $header-height - $mobile-menu-height - (3 * $layout-gap));
